/**
 * @name ClearVision V7 for BetterDiscord
 * @author ClearVision Team
 * @version 7.0.0
 * @description Highly customizable theme for BetterDiscord.
 * @source https://github.com/ClearVision/ClearVision-v7
 * @website https://clearvision.github.io
 * @invite dHaSxn3
 */
/* IMPORT CSS */
@import url("https://raw.githubusercontent.com/Lounge-Area/CSS/refs/heads/master/main.css");
@import url("https://raw.githubusercontent.com/Lounge-Area/CSS/refs/heads/master/betterdiscord.css");
@keyframes cv-channel-select{from{right:100%}to{right:0}}@keyframes cv-card-loading{0%{opacity:.66}50%{opacity:.33}100%{opacity:.66}}/*! ClearVision v7.0.0 by ClearVision Team */.info__2debe::after{content:"Lounge"!important;color:var(--text-muted);font-size:12px;line-height:1.3333333333;font-weight:400;font-family:var(--font-primary)}.visual-refresh:not(.platform-osx) .leading_c38106::before{content:"Lounge"!important;position:static;margin-left:10px;font-size:16px;font-weight:600;color:var(--text-normal);order:2;filter:drop-shadow(0 0 5px var(--hsl-main-color))}.visual-refresh:not(.platform-osx)
/* SETTINGS */
:root {
  /* ACCENT COLORS */
  --main-color: #2780e6;
  --hover-color: #1e63b3;
  --success-color: #43b581;
  --danger-color: #982929;
  /* STATUS COLORS */
  --online-color: #43b581;
  --idle-color: #faa61a;
  --dnd-color: #982929;
  --streaming-color: #593695;
  --offline-color: #808080;
  /* APP BACKGROUND */
  --background-shading-percent: 100%;
  --background-image: url(https://clearvision.github.io/images/sapphire.jpg);
  --background-attachment: fixed;
  --background-filter: saturate(calc(var(--saturation-factor, 1) * 1));
  /* USER POPOUT BACKGROUND */
  --user-popout-image: var(--background-image);
  --user-popout-attachment: var(--background-attachment);
  --user-popout-filter: var(--background-filter);
  /* USER MODAL BACKGROUND */
  --user-modal-image: var(--background-image);
  --user-modal-attachment: var(--background-attachment);
  --user-modal-filter: var(--background-filter);
  /* HOME ICON */
  --home-icon: url(https://raw.githubusercontent.com/Lounge-Area/Logo/refs/heads/main/Discordpngimage.jpg)!important;
  /* FONTS */
  --main-font: "gg sans", Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
  --code-font: Consolas, "gg mono", "Liberation Mono", Menlo, Courier, monospace;
}

/* THEME SPECIFIC SHADING */
/* LIGHT THEME */
:is(.theme-light, .theme-dark .theme-light) {
  --background-shading: rgba(252, 252, 252, 0.3);
  --card-shading: rgba(252, 252, 252, 0.3);
  --popout-shading: rgba(252, 252, 252, 0.7);
  --modal-shading: rgba(252, 252, 252, 0.5);
  --input-shading: rgba(0, 0, 0, 0.3);
  --normal-text: #36363c;
  --muted-text: #75757e;
}

/* ASH THEME */
:is(.theme-dark, .theme-light .theme-dark) {
  --background-shading: rgba(0, 0, 0, 0.4);
  --card-shading: rgba(0, 0, 0, 0.2);
  --popout-shading: rgba(0, 0, 0, 0.6);
  --modal-shading: rgba(0, 0, 0, 0.4);
  --input-shading: rgba(255, 255, 255, 0.05);
  --normal-text: #d8d8db;
  --muted-text: #aeaeb4;
}

/* DARK THEME */
:is(.theme-darker, .theme-light .theme-darker) {
  --background-shading: rgba(0, 0, 0, 0.6);
  --card-shading: rgba(0, 0, 0, 0.3);
  --popout-shading: rgba(0, 0, 0, 0.7);
  --modal-shading: rgba(0, 0, 0, 0.5);
  --input-shading: rgba(255, 255, 255, 0.05);
  --normal-text: #fbfbfb;
  --muted-text: #94949c;
}

/* ONYX THEME */
:is(.theme-midnight, .theme-light .theme-midnight) {
  --background-shading: rgba(0, 0, 0, 0.8);
  --card-shading: rgba(0, 0, 0, 0.4);
  --popout-shading: rgba(0, 0, 0, 0.8);
  --modal-shading: rgba(0, 0, 0, 0.6);
  --input-shading: rgba(255, 255, 255, 0.05);
  --normal-text: #dcdcde;
  --muted-text: #86868e;
}

/* ADD ADDITIONAL CSS BELOW HERE */
.visual-refresh {
    #vc-spotify-player {
        padding: 12px;
        background: transparent;
        margin: 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
}

:is(.theme-light,.theme-dark) .panel__5dec7 {
    background-color: transparent!important;
}

.visual-refresh .panel__5dec7 {
    background-color: transparent!important;
    border-bottom: 1px solid var(--border-faint);
    border-top-left-radius: var(--radius-sm);
    border-top-right-radius: var(--radius-sm);
}